@import "vars"

.header
	position: relative
	z-index: 500
	&-second
		position: absolute
		top: 0
		left: 0
		width: 100%
	&.header-blue
		background: #AFE8FB
	&.header-green
		background: #B6ECB6
	&.header-darkGreen
		background: #80C785

@media only screen and (max-width : 767px)
	.header
		.container
			max-width: 100%
			padding: 0 30px